.table-wrapper {
  width: 100%;
  height: calc(100vh-50px);
  display: flex;
  /* justify-content: center; */
  padding: 40px;
}
.table-wrapper table {
  border: none;
}
.table-wrapper table tbody {
  font-weight: 500;
}
.table-wrapper table thead {
  text-align: left;
}
.table-wrapper table tr {
  height: 40px;
}
.table-wrapper table th,
.table-wrapper table td {
  padding: 1rem;
  font-size: 15px;
}
.table-wrapper table thead {
  background: var(--secondary);
  color: var(--primary);
}
.table-wrapper table thead tr th:nth-child(2),
.table-wrapper table tbody tr td:nth-child(2) {
  text-align: center;
}
.table-wrapper table thead tr:last-child,
.table-wrapper table tbody tr td:last-child {
  width: 300px;
}
.table-wrapper table tbody tr td:first-child {
  text-decoration: underline;
}
.table-wrapper table tbody tr:nth-child(odd) {
  background: rgb(158, 192, 239);
}
.table-wrapper table tbody tr:nth-child(even) {
  background: rgb(194, 202, 212);
}
